.container {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    margin-left: 130px;
    margin-bottom: 16px;
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    gap: 60px;
}

.tabs-container {
    border-bottom: 3px solid #5F5F5F;
    margin-bottom: 40px;
}

.tabs__link {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.tabs__link:hover {
    color: #007bff;
}

.tabs__link--active {
    color: #ff0000;
    font-weight: bold;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 16px;
}

.product-list__item {
    padding: 16px;
    text-align: center;
    transition: box-shadow 0.3s;
        position: relative;
            display: inline-block;
}

.product-list__item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list__image {
    width: 100%;
    max-width: 380px;
    height: 380px;
    object-fit: contain;
    background-color: #eaeaea;
    border-radius: 8px;
    display: block;
}

.product-list__name {
        font-size: 24px;
        font-weight: bold;
        color: #000000;
        margin-top: 8px;
        text-align: left;
    }

.product-list__empty {
    text-align: center;
    color: #666;
    font-size: 16px;
    padding: 32px 0;
}

.product-list__sold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 40px;
}

.product-list__image.sold {
    filter: blur(2px);
    opacity: 0.7;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .tabs {
        margin-left: 100px;
        font-size: 22px;
        gap: 50px;
    }

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-list__image {
        max-width: 450px;
    }

    .product-list__name {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .tabs {
        margin-left: 20px;
        font-size: 18px;
        gap: 30px;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .product-list__item {
        padding: 12px;
    }

    .product-list__image {
        max-width: 300px;
    }

    .product-list__name {
        font-size: 20px;
    }
}